@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button {
    border-style: none;
    cursor: pointer;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

html, body {
  height: 100%;
}

.material-icons-outlined.md-48 { font-size: 48px; }
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }



:root {
  --dark: #66666E;
  --dark-accent:#9999A1;
  --light: #f4f4f6;
  --light-accent: #E6e6e9;
  --background-colour: #f2f2f2;
  --font: 'Rubik', 'Roboto', sans-serif;
  --header-height: 5rem;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-items {
    display: flex;
    flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 16px rgb(48, 48, 48);
  min-height: var(--header-height);
  background-color: var(--light-accent);
}

.header>button {
  margin-right: 5rem;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.header-text {
  font-weight: bold;
  font-size: 40px;
  font-family: var(--font);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

#sidebar {
  display: flex;
  justify-content: center;
  width: 20rem;
  background-color: var(--light);
  padding-top: 3rem;
}

#sidebar-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#sidebar-btns>button {
  height: 2rem;
  border-radius: 8px;
  font-family: var(--font);
  background-color: var(--light-accent);
  font-weight: 500;
}

#addToDo {
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}